<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>dcaron</key>
	<dict>
	    <key>period</key>
	    <integer>-60</integer>
	</dict>
	<key>dcroat</key>
	<dict>
	</dict>
	<key>divide</key>
	<dict>
	    <key>six</key>
	    <integer>30</integer>
	    <key>five</key>
	    <integer>40</integer>
	    <key>eight</key>
	    <integer>20</integer>
	</dict>
	<key>eth</key>
	<dict>
	    <key>x</key>
	    <integer>-10</integer>
	    <key>period</key>
	    <integer>-30</integer>
	    <key>germandbls</key>
	    <integer>-10</integer>
	</dict>
	<key>four</key>
	<dict>
	    <key>divide</key>
	    <integer>-30</integer>
	</dict>
	<key>nine</key>
	<dict>
	    <key>six</key>
	    <integer>10</integer>
	</dict>
	<key>one</key>
	<dict>
	    <key>four</key>
	    <integer>40</integer>
	    <key>eight</key>
	    <integer>30</integer>
	</dict>
	<key>parenleft</key>
	<dict>
	    <key>three</key>
	    <integer>-10</integer>
	</dict>
	<key>period</key>
	<dict>
	</dict>
	<key>seven</key>
	<dict>
	    <key>parenright</key>
	    <integer>-40</integer>
	</dict>
	<key>space</key>
	<dict>
	</dict>
    </dict>
</plist>
